<div class="page-header">
  <h1>{{pokemon.nombre}}</h1>
  <ul class="pager">
  <li class="previous"><a [routerLink]="['/pokemones']">&larr; Volver</a></li>
</ul>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <img class="img-responsive" src="../../../assets/img/{{pokemon.imagen}}" alt="">
      </div>
      <div class="panel-footer white-color text-center">{{pokemon.nombre}}</div>
    </div>
  </div>
  <div class="col-md-9">
    <p>{{pokemon.bio}}</p>
  </div>
</div>
